<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Portfolio</title>

	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Intro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//meta tags ends here-->
	<!--booststrap-->
	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<!--//booststrap end-->
	<!-- font-awesome icons -->
	<link href="static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
<!-- Nav-CSS -->	
<link href="static/css/nav.css" rel="stylesheet" type="text/css" media="all" />
 <script src="static/js/modernizr.custom.js"></script>
<!-- //Nav-CSS -->	
	<link rel="stylesheet" href="static/css/lightbox.css">
	<!--gallery-->

	<!--stylesheets-->
	<link href="static/css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//stylesheets-->

	<link href="static///fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

</head>
<body>
<!-- navigation section -->
	<div class="header-outs">
		<div class="header-w3layouts">
		<div class="container">

<div class="right-side"> 
<p>
		<button id="trigger-overlay" type="button">
			<span class="fa fa-bars" aria-hidden="true"></span>
		</button>
		</p>
</div>
	<!-- open/close -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="static/#index.html" class="scroll">Home</a></li>
					<li><a href="static/#about" class="scroll" >About</a></li>
					<li><a href="static/#services" class="scroll" >Services</a></li>
					<li><a href="static/#experience" class="scroll" >Qualification</a></li>
					<li><a href="static/#gallery" class="scroll" >Gallery</a></li>
					<li><a href="static/#contact" class="scroll" >Contact</a></li>
					
				</ul>
			</nav>
		</div>
					<div class="hedder-logo">
				<h1><a href="static/index.html">Intro</a></h1>
		</div>
	<!-- /open/close -->
<!-- /navigation section -->
</div>
<div class="clearfix"> </div>

</div>
<!-- Slideshow 4 -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="slider-img">
							<div class="container">
								<div class="slider-info">
									<h4>I am Megha S
										</h4>
									

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img ">
							<div class="container">
								<div class="slider-info">
									<h4>Am Developer
										 </h4>
									<p>My Passion</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- This is here just to demonstrate the callbacks -->
		<!-- <ul class="events">
      <li>Example 4 callback events</li>
    </ul>-->
</div>
<!-- //banner -->
<!--about -->
	<div class="about" id="about">
		<div class="container">
		<div class="col-md-4 about-left ">
					<img src="static/images/ab2.jpg" class="img-responsive" alt="">
				</div>
				<div class="col-md-7 about-right">
				<div class="about-me">
				<h2>Megha S </h2>
				<h4>Developer</h4>
				</div>
				<div class="w3layouts_more-buttn">
				<p>I'm a passionate Full-Stack Developer. I thrive on turning concepts into 
					functional web solutions,specializing in both front-end and back-end development.
					I'm an analytical problem solver with a knack for network troubleshooting and a 
					collaborative approach to project management.
				</p>
				<div class="buttn-about">
								<!-- <a href="static/#services">Read More</a> -->
							</div>
							<div class="buttom-social-grids">

					<ul>
						<!-- <li><a href="static/#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="static/#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="static/#"><span class="fa fa-rss"></span></a></li>
						<li><a href="static/#"><span class="fa fa-vk"></span></a></li> -->
					</ul>
				</div>
							</div>
							
				</div>
				<div class="clearfix"> </div>
				<div class="my-ser-info">
				<div class="col-md-5 my-datas">
				<h3>My Personal Data</h3>
				<ul class="address">
										<li>
							<ul class="address-text ">
								<li><b>Name </b></li>
								<li>:Megha S</li>
							</ul>
						</li>
						<li>
							<ul class="address-text ">
								<li><b>D.O.B </b></li>
								<li>:26-11-1996</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>PHONE </b></li>
								<li>:+91 9747633602</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>ADDRESS </b></li>
								<li>:Varkala,Trivandrum</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>E-MAIL </b></li>
								<li><a href="">:meghas9747@gmail.com</a></li>
							</ul>
						</li>
						<li>
							<!-- <ul class="address-text">
								<li><b>WEBSITE </b></li>
								<li><a href="static/mailto:example@mail.com">: www.myresume.com</a></li>
							</ul> -->
						</li>
					</ul> 
			<div class="hire-w3lgrids">
						<!-- <a href="static/#" class="there-more"> 
							Download				
						</a> 
						<a href="static/#" class="there-more"> 
						Hire Me
						</a> -->
					</div>
				</div>
				<div class="col-md-7 aboutmy-services">
								
								<div class="col-md-6 col-sm-6 col-xs-6 about-ser-grid">
								<div class="about-gap">
								<span class="fa fa-television" aria-hidden="true"></span>
								<h3>Back-end</h3>
								<p>As a developer, I specialize in python</p>
								</div>
								<div class="clearfix"> </div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 about-ser-grid">
								<div class="about-gap clr-green">
								<span class="fa fa-database" aria-hidden="true"></span
>								<h3>Framework</h3>
                           <p>Foundation that I specialize in is Django</p>
								</div>
								<div class="clearfix"> </div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 about-ser-grid">
								<div class="about-gap clr-green">
								<span class="fa fa-picture-o" aria-hidden="true"></span>
								<h3>Front-end</h3>
								<p>I'm adept at HTML,
									CSS,Bootstrap,JavaScript</p>
								</div>
								<div class="clearfix"> </div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 about-ser-grid">
								<div class="about-gap">
								<span class="fa fa-mobile" aria-hidden="true"></span>
								<h3>Database</h3>
								<p>The database I'm familiar with is MySQL</p>
								</div>
								<div class="clearfix"> </div>
								</div>
							</div>	
							<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>

</div>
</div>
<!--//about -->
		<div class="services" id="services">
		<div class="container">
			<h3 class="title clr">Skills</h3>
						<div class="banner-bottom-girds">

<div class="col-md-5 my-ser-right">
				<div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-1">
					<div class="ser-icone"> 
					<span class="fa fa-users font" aria-hidden="true"></span>
				
					<div class="counter">100</div>
					<div class="stat-info-w3ls">
						<h4>Team work</h4>
					</div>
						</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-2">
					<div class="ser-icone clr-green"> 
					<span class="fa fa-coffee font" aria-hidden="true"></span>
					<div class="counter">100</div>
					<div class="stat-info-w3ls">
						<h4>Flexible</h4>
					</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-3">
					<div class="ser-icone clr-green">
					<span class="fa fa-trophy font" aria-hidden="true"></span>
					
					<div class="counter">100</div>
					<div class="stat-info-w3ls">
						<h4>Ethics</h4>
					</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-4">
					<div class="ser-icone"> <span class="fa fa-lightbulb-o font" aria-hidden="true"></span>
					
					<div class="counter">90</div>
					<div class="stat-info-w3ls">
						<h4>Agile</h4>
					</div>
					</div>
				</div>
				<div class="clearfix"></div>
			<div class="w3l_about_bottom_grid_right bar-grids">
				<h6>Html<span> 100% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%">
					</div>
				</div>
				<div class="mid-bar">
					<h6>CSS<span> 85% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
				</div>
				<h6>JavaScript<span>65% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 65%">
					</div>
				</div><br>
				<h6>Bootstrap<span>60% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 60%">
					</div>
				</div>
			</div>
</div>	
			<div class="col-md-7 my-ser-left">
<div class="white-shadow">
			 <div class=" col-md-3 col-sm-3 col-xs-3 service-num-left">
			   <h6>1</h6>
			   </div>
			   <div class="col-md-9 col-sm-9 col-xs-9 service-info-left">
			   <h4>Python</h4>
			   <p>One of my hard skills encompass python</p>
			   </div>
						<div class="clearfix"> </div>
					</div>
					<div class="white-shadow">
			 <div class=" col-md-3 col-sm-3 col-xs-3 service-num-left">
			   <h6>2</h6>
			   </div>
			   <div class="col-md-9 col-sm-9 col-xs-9 service-info-left">
			   <h4>Django</h4>
			   <p>Django is the main framework I used to do projects within</p>
			   </div>
						<div class="clearfix"> </div>
					</div>
					<div class="white-shadow">
			 <div class=" col-md-3 col-sm-3 col-xs-3 service-num-left">
			   <h6>3</h6>
			   </div>
			   <div class="col-md-9 col-sm-9 col-xs-9 service-info-left">
			   <h4>MySQL</h4>
			   <p>The database I used in my first ever project is MySQL</p>
			   </div>
						<div class="clearfix"> </div>
					</div><div class="white-shadow">
			 <div class=" col-md-3 col-sm-3 col-xs-3 service-num-left">
			   <h6>4</h6>
			   </div>
			   <div class="col-md-9 col-sm-9 col-xs-9 service-info-left">
			   <h4>ORM</h4>
			   <p>The programming technique I'm familiar with is ORM</p>
			   </div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
				<!--// services-->
<div class="experience" id="experience">
	<div class="container">
		<div class="education">
		<div class="col-md-5 education-info">
		 <h4>education</h4>
		</div>
		<div class="col-md-7 education-matter">
		<div class="edu-right ">
		<h6>2018-2020</h6>
		<h5>Bachelor Of Arts in English Literature</h5>
		<p>Madurai Kamaraj University</p>
		</div>
		<div class="edu-right back-shadow clr-green">
				<h6>Apr 2017-Nov 2017</h6>
		<h5>Diploma in Indian and Foreign Acoounting-IAB</h5>
		<p>G-TEC Computer education</p>
		</div>
		
		<div class="edu-right ">
				<h6>2014-2015</h6>
		<h5>Higher Secondary</h5>
		<p>S S N S S School</p>
		</div>
		<div class="edu-right back-shadow clr-green">
				<h6>2012-2013</h6>
		<h5>High School</h5>
		<p>S S N S S School</p>
		
		</div>
	
		</div>
			<div class="clearfix"></div>
		</div>
		<div class="experience-info">
		<div class="col-md-7 exp-matter">
		<div class="exp-left">
		<!-- <h6>2012-2014</h6> -->
		<h5>Hospital Management System</h5>
		<p>Hospital management website</p>
		</div>
		<div class="exp-left back-shadow clr-green">
				<!-- <h6>2011-2012</h6> -->
		<h5>Portfolio</h5>
		<p>Personal portfolio website</p>
		</div>
		</div>
		<div class="col-md-5 exp-info-right">
		 <h4>projects</h4>
		</div>
		
	</div>
	</div>

	<!--js working-->
	<script src='js/jquery-2.2.3.min.js'></script>
	<script src="static/js/bootstrap.js"></script>
	<!--//js working-->
	<!--nav menu-->
		<script src="static/js/classie.js"></script>
		<script src="static/js/demo1.js"></script>
<!-- //nav menu-->	
	<!-- gallery -->
	<script src="static/js/lightbox-plus-jquery.min.js"></script>
	<!-- //gallery -->
<!--banner-->

	<script src="static/js/responsiveslides.min.js"></script>

	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 900,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--// banner-->
	<!-- OnScroll-Number-Increase-JavaScript -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<script src="static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //OnScroll-Number-Increase-JavaScript -->

<!-- start-smoth-scrolling -->
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};


			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
</body>

</html>